* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;
}

body > * {
    padding: 75px 150px;

}

.hero, .footer {
    background-color: #1F2937;
    
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary, .header-link {
    font-size: 18px;
    color: #E5E7EB;
   
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 24px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bold;

}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 4%;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.hero div {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 8px;
    width: 50%;
}

#hero-img {
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 24px;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 0;
    padding-left: 400px;
    padding-right: 400px;
    
}

.info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.info ul li {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    width: 200px;
    gap: 8px;  
    
}

.info ul li img {
    border: solid 3px #3882F6;
    border-radius: 15px;
    height: auto;
    width: auto;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
}

.sign-up-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    font-weight: bolder;
    border-radius: 5px;
    padding: 4% 6%;

}

.sign-up p {
    font-weight: normal;
}

.sign-up-container button {
    border: solid 1px white;
    padding-left: 28px;
    padding-right: 28px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px
    
}